@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #f6f6fe;
  margin: 0;
}

body::before {
  content: "";
  background: url("./images/bg-top.svg") no-repeat top right;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body::after {
  content: "";
  background: url("./images/bg-bottom.svg") no-repeat bottom left;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

h1 {
  color: #6d708d;
  font-size: 2.5rem;
}

h3 {
  color: #6d708d;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

p {
  color: #494c5f;
  font-size: 4.5em;
  margin: 0;
  max-width: 300px;
  margin: 0 auto;
}

p::before {
  content: "$";
  font-size: 2.5rem;
  position: relative;
  width: 1rem;
  height: 1rem;
  top: -0.5rem;
  left: -0.8rem;
}

span {
  color: #b3b5c6;
  font-size: 1.2rem;
}

li {
  color: #6d708d;
}

.btn {
  background: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(to right, #a3a8f0, #696fdd);
  border: none;
  padding: 1rem;
  width: 100%;
  outline: none;
  margin-top: 1.5rem;
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  letter-spacing: 1px;
  border-radius: 7px;
  cursor: pointer;
  -webkit-transition: 0.1s ease-in all;
  transition: 0.1s ease-in all;
}

.btn:hover {
  background: transparent;
  color: #494c5f;
  border: 1px solid #494c5f;
}

.btn-premium {
  background: white;
  color: #6d708d;
  -webkit-transition: 0.1s ease-in all;
  transition: 0.1s ease-in all;
}

.btn-premium:hover {
  color: white;
  border: 1px solid white;
}

.toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input {
  position: absolute;
  left: -99999px;
}

input:checked + .pill .ball {
  -webkit-transform: translateX(-2rem);
          transform: translateX(-2rem);
}

.pill {
  display: inline-block;
  width: 4.2rem;
  height: 2.2rem;
  border-radius: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(to right, #a3a8f0, #696fdd);
  margin: 0 1rem;
  position: relative;
  cursor: pointer;
}

.pill:hover {
  background: #adb2f5;
}

.pill .ball {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: 1.7rem;
  height: 1.7rem;
  top: 0.25rem;
  right: 0.25rem;
  -webkit-transition: 0.2s -webkit-transform ease-in;
  transition: 0.2s -webkit-transform ease-in;
  transition: 0.2s transform ease-in;
  transition: 0.2s transform ease-in, 0.2s -webkit-transform ease-in;
}

.component {
  background: white;
  border-radius: 8px;
  padding: 2em 3em;
  width: 24rem;
  margin-top: 2rem;
  -webkit-box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
}

.component:first-child {
  margin-right: -0.5em;
}

.component:last-child {
  margin-left: -0.5rem;
}

.component .price .year {
  display: none;
}

.component .price .year.show {
  display: block;
}

.component .price .month.show {
  display: none;
}

.component ul {
  list-style-type: none;
  padding: 0;
  margin-top: 1.5rem;
  border-top: 1px solid rgba(179, 181, 198, 0.5);
}

.component ul li {
  font-size: 1.1rem;
  border-bottom: 1px solid rgba(179, 181, 198, 0.5);
  margin-top: 0rem;
  padding: 1.4rem 0;
}

.component.premium {
  background: -webkit-gradient(linear, left top, left bottom, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(to bottom, #a3a8f0, #696fdd);
  color: white;
  width: 23rem;
  padding: 3.2rem 2rem;
  z-index: 2;
  -webkit-box-shadow: 0px 5px 28px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 28px rgba(0, 0, 0, 0.2);
}

.component.premium h3,
.component.premium p,
.component.premium span,
.component.premium li {
  color: white;
}

@media screen and (max-width: 375px) {
  body::after {
    display: none;
  }
  .container {
    overflow: hidden;
    padding: 3rem 0;
  }
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .component {
    width: 21rem;
  }
  .component:first-child {
    margin-right: 0;
  }
  .component:last-child {
    margin-left: 0;
  }
  .component.premium {
    width: 21rem;
  }
}
/*# sourceMappingURL=styles.css.map */